<%- model_class = List -%>
<div class="page-header">
  <h1>Lists for <%= @user.first_name %> <%= @user.last_name %></h1>
</div>
<table class="table table-striped">

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.list_item %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_account_list_path(@user, list), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      [@user,list],
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
            <%= link_to t('.my items', :default => t("helpers.links.myitems")), account_list_items_path(@user, list), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_account_list_path,
            :class => 'btn btn-primary' %>
